@model IEnumerable<SubjectDto>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Subjects List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="SubjectCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Subject</a>
            </div>
        </div>
        <table class="table table-bordered table-hover table-primary">
            <thead>
                <tr>
                    <th><i class="fas fa-list"></i> Name</th>
                    <th><i class="fas fa-list"></i> Code</th>
                    <th><i class="fas fa-list"></i> Credits</th>
                    <th><i class="fas fa-list"></i> Groups</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model)
                {
                    <tr>
                        <td>@subject.Name</td>
                        <td>@subject.Code</td>
                        <td>@subject.Credits</td>
                        @* Student Section of Groups *@
                        <td>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="SubjectGroups" asp-route-id="@subject.SubjectId">
                                <i class="bi bi-people"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="SubjectDelete" asp-route-id="@subject.SubjectId">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="SubjectEdit" asp-route-id="@subject.SubjectId">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    tr:hover {
        opacity: 0.8;
    }
</style>
