@model IEnumerable<StudentDto>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Students List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="d-flex align-items-end justify-content-between">
                <a asp-action="StudentCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Student</a>
                <form asp-action="StudentsByGroupName" method="post" class="d-flex">
                    <input type="text" name="groupName" class="form-control form-control-sm" placeholder="Enter Group Name" value="@ViewData["GroupName"]" style="margin-right: 5px;" />
                    <button type="submit" class="btn btn-primary ml-2 btn-sm btn-xxs"><i class="bi bi-search"></i> Search</button>
                </form>
            </div>
        </div>

        <table class="table table-bordered table-hover table-primary">
            <thead>
                <tr>
                    <th><i class="fas fa-list"></i> Name</th>
                    <th><i class="fas fa-list"></i> Group</th>
                    <th><i class="fas fa-list"></i> Subjects</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Group.Name</td>
                        @* Subject Section of Student *@
                        <td>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="StudentSubjects" asp-route-id="@student.StudentId">
                                <i class="bi bi-book-fill"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="StudentDelete" asp-route-id="@student.StudentId">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="StudentEdit" asp-route-id="@student.StudentId">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .table th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    tr:hover {
        opacity: 0.8;
    }
    .btn-xxs {
        padding: 0.15rem 0.3rem;
        font-size: 0.6rem;
    }
</style>
