@model IEnumerable<GroupDto>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Groups List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="GroupCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Group</a>
            </div>
        </div>
        <table class="table table-bordered table-hover table-primary">
            <thead>
                <tr>
                    <th><i class="fas fa-list"></i> Name</th>
                    <th><i class="fas fa-list"></i> Student</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    <tr>
                        <td>@group.Name</td>
                        <td>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="GroupStudents" asp-route-id="@group.GroupId">
                                <i class="bi bi-people-fill"></i>
                            </a>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="GroupAddStudent" asp-route-id="@group.GroupId">
                                <i class="bi bi-person-plus-fill"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="GroupDelete" asp-route-id="@group.GroupId">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-primary btn-sm mr-2" asp-action="GroupEdit" asp-route-id="@group.GroupId">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .table th, td {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    tr:hover {
        opacity: 0.8;
    }
</style>
